<div class="contactCont">
    <h3 id="contact">Contact</h3>
    <div class="emailLink">
        <div class="copyCont" (click)="copyEmail()">
            <img src="../../../assets/images/copyIcon.png" class="copy" id="copyIcon"/>
            <button>kierannebel&#64;gmail.com</button>
        </div>
    </div>
    <div class="formCont">
        <form [formGroup]="emailForm" (submit)="sendEmail()">
            <div class="label">
                <label for="email">Email:</label>
                <span class="error">* Required</span>
            </div>
            <input formControlName="email" id="email" type="email" required email (change)="emailChange()" aria-label="your email">
            @if (show) {
                <span class="error red" role="alert">Invalid Email</span>
            }
            <div class="label">
                <label for="message">Message:</label>
                <span class="error">* Required</span>
            </div>
            <textarea formControlName="message" id="message" rows="5" required (change)="messageChange()" aria-label="body of the email"></textarea>
            <div class="buttonCont">
                <button type="submit" class="submit">Send</button>
            </div>
        </form>
    </div>

    <div class="confirmation">
        @if (sent) {
            <div class="confirm"><img src="../../../assets/images/check.png" class="copy"><p>Email Sent!</p></div>
        }
    </div>
</div>