/* About Container */
.aboutCont {
    position: relative;
    margin-top: 6.5vh;
    height: fit-content;
    width: 100vw;
    z-index: 6;
}

.titleCont > p {
    margin: 0;
    margin-top: 12px;
    font-size: 0.75rem;
}

ul {
    padding-left: 20px;
    margin-top: 4px;

    > li {
        padding: 24px;
        padding-left: 0;
        font-size: 1.25rem;
    }
}

/* Resizing Styling */
@media only screen and (max-width: 500px) {
    .cardCarouselCont {
        margin-left: 10vw;
        height: 150px;
    }

    .cardCont {
        height: 150px;
        width: 150px;
    }

    .titleCont > p, .titleCont > .showMore {
        display: none
    }


    ul > li {
        font-size: 1.5rem;
    }
}
        
@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 900px) {
    
}

    
@media only screen and (min-width: 1280px) {
    .card:hover {
        transform: scale(1.6);

        .iconbg {
            height: 55%
        }

        .cardDetail {
            height: 45%;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .card:hover {
        transform: scale(1.5);

        .iconbg {
            height: 65%
        }

        .cardDetail {
            height: 35%;
        }
    }

    span {
        font-size: 1rem;
        font-weight: 600;
    }
}