<header>
    <div id="showcase">
        <div class="layer layer1">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="layer layer2">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>   
        </div>
        <div class="layer layer3">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>    
        </div>
    </div>
    <div class="title">
        <div></div>
        <div>
            <h1 id="kieran">Kieran Nebel</h1>
            <h2 id="webDev">Web Developer</h2>
        </div>
    </div>
    <app-skills></app-skills>
</header>
