<div class="skillCont">
    <h3>Skills</h3>
    <div class="carouselCont">
        <button class="leftArrowButton arrowButton" (click)="shiftLeft()">
            <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="arrowSize + 'px'" viewBox="200 -780 600 600" [attr.width]="arrowSize + 'px'" fill="#bbbbbb" class="leftArrow arrow">
                <path d="M561-216 296-481l265-265 67 67-198 198 198 198-67 67Z"/>
            </svg>
        </button>
        <div class="cardCarouselCont">
            @for (skill of skillList; track skill; let index = $index) {
                @if (index == 0 || (index + 1) % cardNum == 1) {
                    <div class="cardCont">
                        <div class="card" style="--color: {{skill.color}}; transform-origin: left;">
                            <div class="iconbg" style="--url: url('{{skill.url}}'); --size: {{skill.size}}; "></div>
                            <div class="cardDetail">
                                <div class="titleCont">
                                    <span>{{skill.title}}</span>
                                    <span>
                                        @if (skill.years) {
                                            <div class="years" style="--color: {{skill.color}}">{{skill.years}} years</div>
                                        }
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -980 960 960" width="24px" fill="#bbbbbb" class="showMore" (click)="showMore(index)">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                } @else if ((index + 1) % cardNum == 0 ) {
                    <div class="cardCont">
                        <div class="card" style="--color: {{skill.color}}; transform-origin: right;">
                            <div class="iconbg" style="--url: url('{{skill.url}}'); --size: {{skill.size}}; "></div>
                            <div class="cardDetail">
                                <div class="titleCont">
                                    <span>{{skill.title}}</span>
                                    <span>
                                        @if (skill.years) {
                                            <div class="years" style="--color: {{skill.color}}">{{skill.years}} years</div>
                                        }
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -980 960 960" width="24px" fill="#bbbbbb" class="showMore" (click)="showMore(index)">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                } @else {
                    <div class="cardCont">
                        <div class="card" style="--color: {{skill.color}}">
                            <div class="iconbg" style="--url: url('{{skill.url}}'); --size: {{skill.size}}; "></div>
                            <div class="cardDetail">
                                <div class="titleCont">
                                    <span>{{skill.title}}</span>
                                    <span>
                                        @if (skill.years) {
                                            <div class="years" style="--color: {{skill.color}}">{{skill.years}} years</div>
                                        }
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -980 960 960" width="24px" fill="#bbbbbb" class="showMore" (click)="showMore(index)">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <button class="rightArrowButton arrowButton" (click)="shiftRight()">
            <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="arrowSize + 'px'" viewBox="200 -780 600 600" [attr.width]="arrowSize + 'px'" fill="#bbbbbb" class="rightArrow arrow">
                <path d="M506-481 308-679l67-67 265 265-265 265-67-67 198-198Z"/>
            </svg>
        </button>
    </div>
</div>
@if (showModal) {
    <div class="modal" id="modal" role="dialog">
        <div class="modalCard" style="--color: {{skillColor}}">
            <div class="iconbg" style="--url: url('{{skillUrl}}'); --size: {{skillSize}}; ">
                <button class="closeModal" (click)="closeModal()">
                    X
                </button>
            </div>
            <div class="cardDetail">
                <div class="titleCont">
                    <span>{{skillTitle}}</span>
                    <span>
                        @if (skillYears) {
                            <div class="years" style="--color: {{skillColor}}">{{skillYears}} years</div>
                        }
                    </span>
                    <p>{{skillDesc}}</p>
                </div>
            </div>
        </div>
    </div>
}