/* Skills Container */
.skillCont {
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100vw;
    background: linear-gradient(to top, var(--background-grey) 40%, var(--background-grey-50) 60%, var(--background-grey-30) 70%, #14141400);
    mix-blend-mode: normal;
    z-index: 9;
}

/*  */
h3 {
    font-size: 24px;
    font-family: var(--roboto);
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 5vw;
}

.carouselCont {
    width: 100%;
    display: none;
    height: fit-content;
}

/* Card CSS */
.cardCarouselCont {
    position: relative;
    height: calc((90vw / 5) * 0.95);
    margin-left: 5vw;
    transition: transform 1s ease-in-out;
}

.cardCont {
    --scale: calc(90vw / 5);
    height: calc(var(--scale) * 0.95);
    width: var(--scale);
    float: left;
}

.card {
    position: relative;
    font-family: var(--roboto);
    height: 100%;
    width: 95%;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 2px var(--shadow);
    z-index: 4;
    overflow: hidden;
    transition: all 0.3s;
    transition-delay: 0.5s;
    background: var(--color);
}

.card:hover {
    transform: scale(1.5);
    box-shadow: 0px 0px 15px 4px var(--shadow);
    z-index: 6;
    transition: all 0.5s;
    transition-delay: 1s;

    .iconbg {
        height: 45%;
        width: 45%;
        margin: auto;
        transition: all 0.5s;
        transition-delay: 1s;
    }

    .cardDetail {
        display: block;
        height: 55%;
        background-color: var(--background-grey);
        transition: all 0.5s;
        transition-delay: 1s;
    }
}

.iconbg {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 16px;
    background-position: center;
    background-image: var(--url);
    background-size: var(--size);
    background-repeat: no-repeat;
    transition: all 0.3s;
    transition-delay: 0.5s;
}

.cardDetail {
    font-size: 14px;
    height: 0%;
    padding: 4px;
    transition: all 0.3s;
    transition-delay: 0.5s;

    > p {
        padding: 8px;
        padding-top: 0px;
        text-overflow: ellipsis;
    }
}

.titleCont {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;

    > span {
        margin-left: 8px;
        flex: 3;
        margin-top: 4px;
        font-size: 1.3em;
        font-weight: 600;
    }
}

.years {
    background: white;
    flex: 1;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 25px;
    margin: 4px;
    margin-left: auto;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
    color: black;
}

/* Shared arrow button CSS */
.arrowButton {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 5vw;
    border: none;
    outline: none;
    height: calc((90vw / 5) * 0.97);
    z-index: 5;
    background-color: var(--background-grey-50);
}

.arrow {
    transition: all 0.2s;
}

.arrowButton:hover {
    .arrow {
        transform: scale(1.5);
        transition: all 0.2s;
    }
}

/* Right Arrow Button CSS */
.rightArrowButton {
    right: 0;
    border-radius: 16px 0px 0px 16px;
}

.rightArrow {
    margin-right: auto;
}

/* Left Arrow Button CSS */
.leftArrowButton {
    display: none;
    left: 0;
    border-radius: 0px 16px 16px 0px;
}

.leftArrow {
    margin-left: auto;
}