@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Julius+Sans+One&display=swap');

* {
    --background-light-grey: #222222;
    --background-lightest-grey: #444444;
    --button-background: #898989b7;
    --button-hover: #b8b8b8b7;
    --background-grey: #141414;
    --background-grey-80: #141414CC;
    --background-grey-50: #14141480;
    --background-grey-30: #1414144D;
    --shadow: rgba(0,0,0,0.4);
    --font-color: #aaa;
    --side-gradient: linear-gradient(to right, var(--background-grey-50), rgba(0,0,0,0) 30%);
    --julius: 'Julius Sans One', sans-serif;
    --heebo: 'Heebo', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

html {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    width: 100vw;
    background-color: var(--background-grey);
    color: var(--font-color);
    overflow-x: hidden;
}

body {
    margin: 0;
    margin-top: -22px;
    padding: 0;
}


/* Shared Component Classes */
h3 {
    font-size: 24px;
    font-family: var(--roboto);
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 5vw;
}

.carouselCont {
    width: 100%;
    display: none;
    height: fit-content;
}

/* Card CSS */
.cardCarouselCont {
    --scale: calc(90vw / 5);
    position: relative;
    height: calc(var(--scale) * 0.95);
    margin-left: 5vw;
    transition: transform 1s ease-in-out;
}

.cardCont {
    --scale: calc(90vw / 5);
    height: calc(var(--scale) * 0.95);
    width: var(--scale);
    float: left;
}

.card {
    position: relative;
    font-family: var(--roboto);
    height: 100%;
    width: 95%;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 2px var(--shadow);
    z-index: 4;
    overflow: hidden;
    transition: all 0.3s;
    transition-delay: 0.2s;
    background: var(--color);
}

.card:hover {
    transform: scale(1.5);
    box-shadow: 0px 0px 15px 4px var(--shadow);
    z-index: 10;
    transition: all 0.5s;
    transition-delay: 0.5s;

    .iconbg {
        height: 65%;
        width: 65%;
        margin: auto;
        transition: all 0.5s;
        transition-delay: 0.5s;
    }

    .cardDetail {
        display: block;
        height: 35%;
        background-color: var(--background-grey);
        transition: all 0.5s;
        transition-delay: 0.5s;

        .showMore {
            opacity: 100%;
            transition: opacity 0.4s 0.6s !important;
        }
    }
}

.iconbg {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 16px;
    background-position: center;
    background-image: var(--url);
    background-size: var(--size);
    background-repeat: no-repeat;
    transition: all 0.3s;
    transition-delay: 0.2s;
}

.cardDetail {
    text-indent: 0;
    font-size: 16px;
    height: 0%;
    transition: all 0.3s;
    transition-delay: 0.2s;
    
    > p {
        padding: 8px;
        padding-top: 0px;
        text-overflow: ellipsis;
    }
}

.titleCont {
    height: fit-content;
    width: calc(100% - 8px);
    align-items: center;
    padding: 4px;

    > span {
        width: 100%;
        margin-top: 4px;
        font-size: 1.3em;
        font-weight: 600;
    }
}

.years {
    background: white;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 6px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    color: black;
}

/* Shared arrow button CSS */
.arrowButton {
    --scale: calc(90vw / 5);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 5vw;
    border: none;
    outline: none;
    height: calc(var(--scale) * 0.97);
    z-index: 5;
    background-color: var(--background-grey-50);
}

.arrow {
    transition: all 0.2s;
}

.arrowButton:hover {
    .arrow {
        transform: scale(1.5);
        transition: all 0.2s;
    }
}

/* Right Arrow Button CSS */
.rightArrowButton {
    right: 0;
    border-radius: 16px 0px 0px 16px;
}

.rightArrow {
    margin-right: auto;
}

/* Left Arrow Button CSS */
.leftArrowButton {
    display: none;
    left: 0;
    border-radius: 0px 16px 16px 0px;
}

.leftArrow {
    margin-left: auto;
}

/* Show More button styling */
.showMore {
    cursor: pointer;
    position: absolute;
    padding: 0;
    right: 8px;
    bottom: 8px;
    height: 2.5em;
    width: 2.5em;
    align-content: center;
    background-color: var(--background-light-grey);
    border: none;
    outline: none;
    opacity: 0%;
    border-radius: 50%;
    transition: opacity 0.2s 0.2s !important;
}

.showMore:hover {
    background-color: var(--background-lightest-grey);
    transition: background-color 0s 0s !important;
}


.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 90vh;
    z-index: 100;
    overflow: auto;
    transition: all 0s;
}

.modalCard {
    font-family: var(--roboto);
    font-size: 20px;
    height: 100%;
    width: 95%;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 2px var(--shadow);
    z-index: 4;
    overflow: hidden;
    transition: all 0s 0s;
    background: var(--color);
    transform-origin: center;
    animation: fade-in 0.5s 1;

    .iconbg {
        background-size: calc(var(--size) / 1.2);
        height: 45%;
        width: 45%;
        margin: auto;
        transition: all 0.5s;
    }

    .cardDetail {
        display: block;
        height: 55%;
        padding: 8px;
        background-color: var(--background-grey);
        transition: all 0.5s;

        > .titleCont {
            > span {
                font-size: 1.6em;
            }

            .years {
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 0.9em;
                padding: 4px 8px 4px 8px;
            }
        }
    }
}

.closeModal {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 1.3em;
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 22px;
    color: white;
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--button-background);
    opacity: 0%;
    text-align: center;
    animation: appear 0.1s 1 0.5s forwards;
}

.closeModal:hover {
    background-color: var(--button-hover);
}

@keyframes fade-in {
    0% {height: 0%; width: 0%;}
    100% {height: 100%; width: 95%;}
}

@keyframes appear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}